.CFUserTextEncoding
.DS_Store
.Trash
.bash_history
.cache
.env
.node-gyp
.npm
.nvm
.subversion
.ssh
.vim
.viminfo
.vimshell
*/.env
*/*/.env
*/*/*/.env
Applications
Desktop
Documents
Downloads
Library
Movies
Music
Pictures
Public
dev
